@import url('https://fonts.googleapis.com/css?family=Allerta%20Stencil');
@import url('https://fonts.googleapis.com/css?family=Gruppo');
@import url('https://fonts.cdnfonts.com/css/holtwood-one-sc');
@import url('https://fonts.googleapis.com/css?family=Nova%20Flat');
@import './styles/global.css';
@import './styles/navbar.css';
@import './styles/on-load.css';
@import './styles/on-search.css';
@import './styles/on-select.css';

:root {
    --azure: #f0ffff;
    --black: #000;
    --blue-violet: #450be3;
    --brown-grey: #312f2f;
    --gainsboro: #dcdcdc;
    --golden-yellow: #ffae00;
    --green: #006400;
    --lavander: #8d8dea;
    --light-grey: #a1a2a2;
    --lighter-grey: #cacaca;
    --light-lavander: #cabfe7;
    --red: #f7080c;
    --skyblue-grey: #354642;
    --transparent-black: #000000c8;
    --transparent-darkest-black: #000000f3;
    --transparent-grey: #181818cc;
    --violet: #410975;
    --violet-grey: #2b292c;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    -webkit-box-sizing: border-box;
    background-attachment: fixed;
    background-color: var(--blue-violet);
    background-image: -moz-linear-gradient(to bottom, var(--lavander) 16%, var(--blue-violet) 100%);
    background-image: -o-linear-gradient(to bottom, var(--lavander) 16%, var(--blue-violet) 100%);
    background-image: -webkit-gradient(to bottom, var(--lavander) 16%, var(--blue-violet) 100%);
    background-image: -webkit-linear-gradient(to bottom, var(--lavander) 16%, var(--blue-violet) 100%);
    background-image: linear-gradient(to bottom, var(--lavander) 16%, var(--blue-violet) 100%);
    box-sizing: border-box;
    line-height: 1;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
}