/*** Navbar ***/

.header {
    height: 10%;
    position: absolute;
    width: 100%;
    z-index: 5;
}

.navbar {
    background-color: var(--black);
    height: 10vh;
    position: fixed;
    width: 100vw;
}

.title {
    color: var(--azure);
    font-family: 'Holtwood One SC', sans-serif;
    font-size: 1.5rem;
    left: 10%;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

.title:hover {
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    color: var(--red);
    cursor: pointer;
    transform: scale(1.01);
}

/*** Menu ***/

.menu-toggle {
    visibility: hidden;
}

.menu-toggle:checked+.menu-btn>span {
    -moz-transform: rotate(45deg);
    -moz-transition-duration: 0.8s;
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -o-transition-duration: 0.8s;
    -webkit-transform: rotate(45deg);
    -webkit-transition-duration: 0.8s;
    transform: rotate(45deg);
    transition-duration: 0.8s;
}

.menu-toggle:checked+.menu-btn>span::before {
    -moz-transform: rotate(0deg);
    -moz-transition-duration: 0.3s;
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -o-transition-duration: 0.3s;
    -webkit-transform: rotate(0deg);
    -webkit-transition-duration: 0.3s;
    top: 0;
    transform: rotate(0deg);
    transition-duration: 0.3s;
}

.menu-toggle:checked+.menu-btn>span::after {
    -moz-transform: rotate(90deg);
    -moz-transition-duration: 0.3s;
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -o-transition-duration: 0.3s;
    -webkit-transform: rotate(90deg);
    -webkit-transition-duration: 0.3s;
    top: 0;
    transform: rotate(90deg);
    transition-duration: 0.3s;
}

.menu-toggle:checked~.menu-box {
    left: 0 !important;
}

.menu-btn {
    cursor: pointer;
    height: 25px;
    left: 2%;
    position: absolute;
    width: 25px;
    z-index: 2;
}

.menu-btn>span {
    pointer-events: none;
}

.menu-btn>span::before {
    content: '';
    top: -8px;
}

.menu-btn>span::after {
    content: '';
    top: 8px;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    background-color: var(--gainsboro);
    display: block;
    height: 2px;
    position: absolute;
    transition-duration: 0.3s;
    width: 100%;
}

.menu-box {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    background-color: var(--transparent-darkest-black);
    display: block;
    height: 100%;
    left: -100%;
    list-style: none;
    margin: 0;
    padding: 30vh 0;
    position: fixed;
    top: 0;
    transition-duration: 0.3s;
    width: 40vw;
    z-index: 1;
}

.menu-topic {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    border-radius: 12px;
    color: var(--azure);
    display: block;
    font-family: 'Gruppo', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    list-style: none;
    margin: 0 auto;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 0.3s;
}

.menu-topic:hover {
    background-color: var(--transparent-grey);
    color: var(--red);
    cursor: pointer;
    font-size: 1.52rem;
    font-weight: 600;
}

/*** Genres ***/

.genres-container {
    display: none;
}

.genres-toggle {
    visibility: hidden;
}

.genres-btn {
    cursor: pointer;
    display: none;
    height: 10px;
    left: 3%;
    position: absolute;
    width: 10px;
    z-index: 3;
}

.genres-btn>span {
    width: 20px;
}

.genres-btn>span::before,
.genres-btn>span::after {
    width: 15px;
}

.genres-btn>span,
.genres-btn>span::before,
.genres-btn>span::after {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    background-color: var(--gainsboro);
    display: block;
    height: 3px;
    position: absolute;
    transition-duration: 0.3s;
}

.genres-btn>span::before {
    content: '';
    top: -8px;
    transform: rotate(135deg) translate(4px, -1px);
}

.genres-btn>span::after {
    content: '';
    top: 8px;
    transform: rotate(-135deg) translate(4px, 1px);
}

.genres-box {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    background-color: var(--black);
    height: 100vh;
    left: 0;
    list-style: none;
    margin: -5px 0 0;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 0;
    transition-duration: 0.3s;
    vertical-align: middle;
    width: 40vw;
    z-index: 2;
}

.genres-list {
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

.genre {
    color: var(--gainsboro);
    cursor: pointer;
    font-family: 'Gruppo', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 22px;
    padding: 1px 0;
    width: 25vw;
}

.genre:hover {
    background-color: var(--transparent-grey);
    border-radius: 15px;
    color: var(--red);
    font-weight: 500;
}

/*** Media queries ***/

@media (width < 480px) {
    .menu-box {
        width: 50vw;
    }

    .menu-topic {
        font-size: 1rem;
    }

    .menu-topic:hover {
        font-size: 1.02rem;
    }

    .genres-container {
        left: 50vw;
    }

    .genres-box {
        width: 50vw;
    }

    .genre {
        font-size: 0.8rem;
        padding: 0;
        width: 30vw;
    }

    .genres-list {
        margin-top: 1px;
    }
}

@media (width < 800px) {
    .title {
        display: none;
    }
}

@media (width >= 800px) {
    .navbar {
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
}

@media (width < 1024px) {
    .title {
        font-size: 1.2rem;
    }

    .genre {
        font-size: 1rem;
    }
}